@import "colors";
@import "glass";
@import "underline";
@import "helpers/animation_helpers";

// Import Bulma and Buefy styles
@import 'node_modules/bulma/bulma.sass';

.uvodni-sestavek {
    font-weight: 600;
    font-size: larger;
}

.mednaslov {
    margin: 6vh 5vh 3vh 5vh;
    @extend .title, .is-2;
}

.pod-mednaslov {
    margin: 6vh 5vh 3vh 5vh;
    @extend .subtitle, .is-4;
}

.element {
    margin: 3vh 4vw 3vh 4vw;
}

.block_padding {
    padding: 3em 4em;
}

.is-clickable {
    cursor: pointer;
}

/*
html {
  @extend .has-navbar-fixed-top
}

body {
  @extend .has-navbar-fixed-top
}
*/


body {
    background: url('@/assets/images/svgs/background.svg') no-repeat fixed center;
    background-size: cover;
    min-height: 100vh;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.m-100 {
    margin: 0;
}

/**
used to fix margins for columns on mobile displays
otherwise they are too wide for html body
*/
@media screen and (max-width: 1024px) {
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
}